<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' hhttp-equiv='Content-Type' />
	</head>
	<body>
		<h1> 
			Señor <%= @user1.nombre + " " + @user1.apellido %> su compra se ha realizado con exito!
		</h1><br />
		<p>
			Los datos del vendedor son:
		</p>
		<p>	
			Nombre: <%= @user2.nombre %>
		</p>
		<p>
			Apellido: <%= @user2.apellido %>
		</p>
		<p>
			Email: <%= @user2.email %>
		</p>
		<p>
			Monto: <%= @monto %>
		</p><br />
		<p>
			Visitenos en: <a href="<%= @url %>">Bestnid-grupo2.herokuapp.com</a>
		</p>
		<p>
			Saludos!
		</p>
	</body>
</html>