      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Realice una oferta</h4>
      </div>
      <div class="modal-body">
        <!-- aca comienzan los campos del modal--> 
        <%= form_for :oferta, url: ofertas_path do |f|%>
        <form role="form">
            <div class="form-group">
              <%= f.hidden_field :producto_id, value:  producto_id %>
              <% if user_signed_in? %>
              <%= f.hidden_field :usuario_id, value: current_user.id %>
              <%end%>
                <label for="oferta_necesidad">Por qué necesita este producto?</label>
                <%= f.text_area :necesidad, class: "form-control", rows: 5, cols: 130 %>
            </div>
            <div class="row clearfix">
               <div class="col-md-4 column">
                   <div class="form-group">
                        <label for="monto">Cuanto pagaría por él?</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <%= f.number_field :monto, min: "0.0", class: "form-control"%>
                        </div>
                   </div>
              </div>                 
            </div>
            <div class="form-group">
               <% if current_user != nil && current_user.numero_tarjeta != nil %>
                   <label for="tarjeta">Desea usar la tarjeta terminada en: XXXX-XXXX-XXXX-<%= current_user.numero_tarjeta[-4..25] %> 
                   </label>
                   <button type="button" class="btn btn-default" >Usar otra tarjeta</button>
               <%else%>
                   <label for="tarjeta">No posee ninguna tarjeta registrada 
                   </label>
                   <button type="button" class="btn btn-default" >Agregar tarjeta</button>
               <%end%>
            </div>
              <div class="modal-footer">
                  <label class="text-danger aria-label="Left Align"" > <i>Recuerde que ofertar es compromiso de compra </i> </label>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <%= f.submit "Ofertar", class: "btn btn-danger"%>
              </div>
          </form>
        <%end%>
      </div>

