	<h1>New Post</h1>

			<%= form_for :oferta, url: ofertas_path do |f|%>
      		<%= f.label ":producto" %>
      		<%= f.text_field :producto_id %>
      		<%= f.label "monto" %>
      		<%= f.text_field :monto %>
      		<%= f.label "necesidad" %>
      		<%= f.text_field :necesidad %>
            <%= f.submit 'lalala'%> 
			<%end%>