<!DOCTYPE html> 		
<html lang="es">
<head>	
<meta charset="utf-8">
	
<title> </title> 	
	
</head> 	
<body>	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" class="pull-left">
			<!--Aca va la barra de las categorias, cada categoria es un enlace,-->

			<!-- Boton para ordenar los prodcutos -->
				<div class="dropdown col-md-12">
          			<button class="btn dropdown-toggle" 
          			type="button" data-toggle="dropdown" >Ordenar  <span class="caret"></span>
                    </button>
          			<ul class="dropdown-menu" role="menu">
            			<li role="presentation" class="dropdown-header">Alfabéticamente</li>
            			<li><%=link_to "Ascendente", productos_path(orden: "nombre asc")%></li>
            			<li><%=link_to "Descendente", productos_path(orden: "nombre desc")%></li>
            			<li class="divider"></li>
            			<li role="presentation" class="dropdown-header">Publicaciones recientes</li>
            			<li><%=link_to "Ascendente", productos_path(orden: "created_at asc")%></li>
            			<li><%=link_to "Descendente", productos_path(orden: "created_at desc")%></li>
          			</ul>
				</div>
			<h2>Categorias</h2>
			<ul >
				<% Categoria.all.each do |cat| %>
				<li>
				<h4>
					<%=link_to cat.nombre,productos_path(categoria: cat.id) %>
				</h4>				
				</li>
             <%end%>
			</ul>
		</div>
		<!-- aca comienza la otra columna donde iran los productos-->
		<div class="col-md-10 column">
		<div class="row">  
				<% @producto_a.all.each do |producto| %>
				<div class="col-md-5">
					<div class="thumbnail">
						<%= link_to image_tag(producto.foto,class: "img-rounded"), producto %>
							<div class="caption">
							<h3>
								<%=link_to producto.nombre, producto %>
							</h3>
							<p> 
								<%= truncate(producto.descripcion, length: 50)%>
							</p>
							<p>
								<div type="button" class="btn btn-danger" href ="show_producto_path(producto) ">Ver</div>
								 <div type="button" class="btn" href ="show_producto_path(producto) ">Preguntar</div>
								
							</p>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			</div>

</div>
</body> 	
</html>