<!DOCTYPE html>	
<html>	
<head> </head>	
<body>	

<div class="container">
	<div class="row clearfix">
		<!--Esta es la barra de navegacion de categorias-->
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="/">Home</a> 
					<span class="divider"></span>
				</li>
				<li>
					<%=@producto.categoria%>
					
					<span class="divider"></span>
				</li>
				<li class="active">
					<%=@producto.nombre%>
				</li>
			</ul>
		</div>
	</div>
	<!--aca comienza la publicacion en si misma-->
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h2 class="text-left">
				<%=@producto.nombre%>
			</h2>

			<img class="img-responsive" alt="400x400" src="http://lorempixel.com/400/400/animals/" class="img-rounded" />
			<dl>
				<h2 class="text-left">
				Descripcion:
			    </h2>
			    <h4>
				<%=@producto.descripcion%>
			    </h4>
			</dl>
		</div>
		<div class="col-md-6 ">
			<p class="bg-danger">
				<%=@producto.descripcion%>
				<a href="/" class="btn btn-success" role="button">Ofertar</a>

		</p>
      </div>
    </div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Preguntas
			</h3>
			<!-- se crea una tabla con las preguntas y las respuestas-->
			<table class="table">
				<!--Aca van los nombres de las columnas-->
				<thead>
					<tr>
						<th>
							Preguntas y Respuestas
						</th>
						<th>
							fecha
						</th>
					</tr>
				</thead>
				<!--Aca comienzan las preguntas y respuestas-->
				<tbody>
					<% @producto.preguntas.each  do |pregunta| %> 
					<!--Pregunta-->
					<tr>
						<td>
							<%= pregunta.pregunta %>
							lallaa
						</td>
						<td>
							<%= pregunta.created_at %>
						</td>
					</tr>

					<!--Respuesta-->
					<tr class="danger" >
						<td>
							<%= pregunta.respuesta%>
						</td>
						<td class="text-right">
							<%= pregunta.fecha_respuesta%>
						</td>
					</tr>  
				<% end %> 
				</tbody>
			</table> <button type="button" class="btn btn-lg btn-danger">Preguntar</button>
		</div>
	</div>
</body>	
</html>


