<div class="panel panel-danger">
  <div class="panel-heading">
    <!--titulo del producto-->
          <h3 class="panel-title">
            <%= producto.nombre %> 
          </h3>
    <!--fin titulo de producto-->
  </div>
  <div class="panel-body">
            <div class="row clearfix">
              <!--imagen-->
                  <div class="col-md-2 column">
                    <%= link_to image_tag(producto.foto, size: "100",  class: "img-rounded", :title => "Ver producto"), producto %>
                  </div>
              <!--fin imagen-->
              <div class="col-md-7 column">
                <dl class="dl-horizontal">
                  <dt>
                    Descripcion:
                  </dt>
                  <dd>
                    <%= producto.descripcion%> 
                  </dd>
                  
                  <dt>
                    Publicado el:
                  </dt>
                  <dd>
                    <%= producto.created_at.to_date %>
                  </dd>

                  <% if producto.finalizado %>
                  <dt>
                    Finalizado el:
                  </dt>
                  <dd>
                    <%= producto.fecha_finalizacion %>
                  </dd>
                  <%end%>
                  
                  <dt></br>
                    Estado:
                  </dt>
                  <dd></br>
                    <% if producto.finalizado %>
                    Finalizado

                    <%else%>
                    Activo
                    <%end%>
                  </dd>
                </dl>
              </div>
              <div class="col-md-2 column pull-right">
                 <%= link_to button_to( "Ver", producto_path(id: producto.id)  , :class => "btn btn-danger"), producto%>
              </div>

            </div>
  </div> <!-- end panel Body-->
</div>