<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">

      <% @aux1 = Producto.where(:fecha_de_compra => params[:inicio].to_date.beginning_of_day..params[:fin].to_date.end_of_day) %>

      <% @aux3 = @aux1.where(:comprador_id != nil) %>

      <% total = 0 %>
      <table class="table" style="width:1000px; height:100px;">
        <tr>
          <th> Producto </th>
          <th> Vendedor </th>
          <th> Comprador </th>
          <th> Monto </th>
          <th> Fecha de compra </th>                      
        </tr>
        <% @aux3.all.each do |aux| %>
          <tr class="active">
            <td> <%= aux.nombre %> </td>
            <td> <%= User.find(aux.user_id).nombre %> </td>
            <td> <%= User.find(aux.comprador_id).nombre %> </td>
            <td> <%= aux.monto %> </td>                          
            <td> <%= aux.fecha_de_compra.strftime("%d/%m/%Y") %> </td>
            <% total = total + aux.monto %>
          </tr>                      
        <% end %>
        <% if @aux3.count == 0 %>
          <tr class="active">
            <td>
              No existen producto vendidos en estas fechas
            </td>
          </tr>
          <%end%>
      </table>
      
      <% total = total*30/100 %>
      <p> Total = <%= total %> </p>

    </div>
  </div>
</div>