<div class="container">
  <div class="col-md-12 column">
    <%= form_for :producto, url: productos_path do |f| %>

    <!-- Checkeo de Errores -->
    <% if @producto.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@producto.errors.count, "problema") %> prohiben que esta publicación sea creada:</h2>
        <ul>
        <% @producto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <!-- campos del formulario -->
    <div class="row">

      <!-- campo de nombre del producto -->
      <div class="form-group col-md-4">
        <%= f.label :nombre %><br />
        <%= f.text_field :nombre, autofocus: true, class: "form-control", placeholder: "Nombre de la Publicacion" %>
      </div><br />
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Ingrese el nombre que aparecera en la publicacion</i></span>
      </div><br />
    </div>

    <div class="row">

      <!-- campo de categorias -->
      <div class="form-group col-md-4">
        <% categorias = {'Animales' => '1', 'Hogar' => '2', 'Tecnologia' => '3', 'Minerales' => '4', 'Indumentaria' => '5', 'Herramientas' => '6', 'Deportes' => '7', 'Cocina' => '8', 'Antiguedades' => '9', 'Santeria' => '10', 'Automotores' => '11', 'Otros' => '12'} %>
        <% lista = categorias.sort %>
        <%= f.label :categoria_id %><br />
        <%= f.select :categoria_id, lista %>
      </div>

      <!-- campo de dias de duracion -->
      <div class="form-group col-md-4">
        <% dias = {'15' => '15', '16' => '16', '17' => '17', '18' => '18', '19' => '19', '20' => '20', '21' => '21', '22' => '22', '23' => '23', '24' => '24', '25' => '25', '26' => '26', '27' => '27', '28' => '28', '29' => '29', '30' => '30'} %>
        <%= f.label :dias  %><br />
        <%= f.select :fecha_finalizacion, dias %>
      </div>
    </div>

    <!-- FOTO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :foto %><br />
        <%= f.text_field :foto, class: "form-control", placeholder: "Link" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Para cargar la foto ingrese <a href="http://imgur.com/">AQUI</a>, luego compie el link en el campo. En el caso de no conocer como cargar la imagen realice el <a href="https://www.youtube.com/watch?v=K7XVlFYLqX8">TUTORIAL</a></i></span>
      </div>
    </div>

    <div class="row">

      <!-- campo de descripcion del producto -->
      <div class="form-group col-md-4">
        <%= f.label :descripcion %><br />
        <%= f.text_area :descripcion, rows: 10, cols: 130 %>
      </div>
    </div>


    <div class="row">

      <!-- boton para subir los cambios -->
      <div class="form-group col-md-12">
        <div class="form-group col-md-3 pull-right">
          <%= f.submit "Subastar", class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
