<div class="container">
	<div class="row clearfix">
		<!--Esta es la barra de navegacion de categorias-->
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="/">Home</a> 
					<span class="divider"></span>
				</li>
				<li>
					<%=link_to Categoria.find(@producto.categoria_id).nombre, productos_path(categoria: @producto.categoria_id) %>
					
					<span class="divider"></span>
				</li>
				<li class="active">
					<%=@producto.nombre%>
				</li>
			</ul>
		</div>
	</div>
	<!--aca comienza la publicacion en si misma-->
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h2 class="text-left">
				<%=@producto.nombre%>
			</h2>
			<div class="thumbnail">
				<%= image_tag( @producto.foto, size: '500', class: "img-rounded") %>
			</div>
		</div>

		<div class="col-md-6 ">
			<h2 class="text-left">
				Descripcion:
			    </h2>
			    <h4>
				   
				       
			    </h4>
			    <h4>
				<%=@producto.descripcion%>
			    </h4>
			    <h4>
				        
			    </h4>
			    <div class="row clearfix">
					<div class="col-md-4">
						<!--enlace al modal-->
						<button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#modal-container-257635">Ofertar</button>
					</div>
				<div class="col-md-8 ">
					<h4 class="text-left">
						<%= @producto.fecha_finalizacion.strftime("Finaliza el %d/%m/%Y a las %H:%M")  %>

					</h4>
				</div>
			</div>
      </div>
    </div>
	</div>
	<div class="row clearfix">
		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="tabbable" id="tabs-795537">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-884539" data-toggle="tab">Preguntas</a>
					</li>
					<li class="">
						<a href="#panel-361720" data-toggle="tab">Ofertas</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-884539">
						<table class="table">
				<!--Aca van los nombres de las columnas-->
				<thead>
					<tr>
						<th>
							Preguntas y Respuestas
						</th>
						<th>
							Fecha
						</th>
					</tr>
				</thead>
				
				<!--Aca comienzan las preguntas y respuestas-->
				<% @producto.preguntas.each  do |pregunta| %> 
					<!--Pregunta-->
					<tr>
						<td>
							<%= pregunta.pregunta %>
						</td>
						<td>
							<%= pregunta.created_at.strftime("%d/%m/%Y a las %H:%M") %>
						</td>
					</tr>

					<!--Respuesta-->
					<tr class="danger" >
						<td>
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

							<%= pregunta.respuesta%>
						</td>
						<td>

							<%= pregunta.created_at.strftime("%d/%m/%Y a las %H:%M") %>
						</td>
					</tr>  
				<% end %> 
				<tbody>
				</tbody>
                <!--Aca va el cuadro de texto para hacer una pregunta-->
				</table> <div class="row">
                    <div class="col-lg-8">
                         <div class="input-group">
                            <span class="input-group-btn">
                                  <button class="btn btn-danger" type="button">Preguntar!</button>
                            </span>
                            <input type="text " class="form-control" placeholder="Escriba aqui su pregunta, no ingrese datos personales o use lenguaje vulgar ...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
			    </table>
					</div>
					<div class="tab-pane" id="panel-361720">
						<p>
							Aca irian las ofertas
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="modal-container-257635" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Realice una oferta</h4>
      </div>
      <div class="modal-body">
      	<!-- aca comienzan los campos del modal-->

			<form role="form">
				<div class="form-group">
					 <label for="motivo">Por qué necesita este producto?</label>
					 <input type="text" class="form-control" id="motivo" />
				</div>
				<div class="row clearfix">
					<div class="col-md-4 column">
						<div class="form-group">
							<label for="monto">Cuanto pagaría por él?</label>
							<div class="input-group">
  								<span class="input-group-addon">$</span>
  								<input type="number" min= "0.0" class="form-control" id="monto">
							</div>
						</div>
					</div>
				</div>


			</form>

<!-- aca terminó el modal-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Ofertar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
