<div class="container">
	<div class="row clearfix">
		<!--Esta es la barra de navegacion de categorias-->
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li><a href="/">Home</a><span class="divider"></span></li>
				<li><%=link_to Categoria.find(@producto.categoria_id).nombre, productos_path(categoria: @producto.categoria_id) %>
              <span class="divider"></span></li>
				<li class="active"><%=@producto.nombre%></li>
			</ul>
		</div>
	</div>
	<!--aca comienza la publicacion en si misma-->
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h2 class="text-left">
				<%=@producto.nombre%>
			</h2>
			<div class="thumbnail">
				<%= image_tag( @producto.foto, size: '500', class: "img-rounded") %>
			</div>
		</div>

		<div class="col-md-6 ">
			<h2 class="text-left">
				Descripcion:
			    </h2>
			    <h4>
				   
				       
			    </h4>
			    <h4>
				<%=@producto.descripcion%>
			    </h4>
			    <h4>
				        
			    </h4>

			    <div class="row clearfix">
					<div class="col-md-4">
						<!--enlace al modal-->
          <% if user_signed_in? %>
						<button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#modal-container-257635">Ofertar</button>
          <%else%>
            <button type="button" class="btn btn-lg btn-success" disabled >Ofertar</button>
          <%end%>
					</div>
				    <div class="col-md-8 ">
					   <h4 class="text-left">
					     <%= @producto.fecha_finalizacion.strftime("Finaliza el %d/%m/%Y a las %H:%M")  %>
					   </h4>
				    </div>
			    </div>
          <% if !user_signed_in? %>
            <div class="row clearfix">
              <div class="col-md-12">
                <div class="alert alert-danger" role="alert"><h3> Debe estar registrado para poder ofertar </h3></div>
              </div>
            </div>
          <%end%>
      </div>
    </div>














<!--aca comienza la tabla de las preguntas y ofertas-->
        <div class="container">
           <div class="row clearfix">
              <div class="col-md-12 column">
                 <div class="tabbable" id="tabs-795537">
                    <ul class="nav nav-tabs">
                       <li class="active">
                          <a href="#panel-884539" data-toggle="tab">Preguntas</a>
                       </li>
                       <!-- muestra la pestaña oferta-->
                       <% if user_signed_in? %> 
                       		<% if @producto.user_id == current_user.id %>
                       		<li>
                            	<a href="#panel-361720" data-toggle="tab">Ofertas</a>
                       		</li>
                       		<%end%>
                        <%end%> 
                       <!-- fin -->
                    </ul>
                 

                <div class="tab-content"> <!--Aca comienzan la pestaña de preguntas y respuestas-->
                    <div class="tab-pane active" id="panel-884539">
                        <table class="table">
                            <!--Aca van los nombres de las columnas-->
                            <thead>
                                <tr>
                                    <th>
                                        Preguntas y Respuestas
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                </tr>
                            </thead>
                            
                       


                            <!--Aca comienzan las preguntas y respuestas-->
                            <% @producto.preguntas.each  do |pregunta| %> 
                            <!--Pregunta-->
                            <tr>
                                    <td>
                                        <%= pregunta.pregunta %>
                                    </td>
                                    <td>
                                        <%= pregunta.created_at.strftime("%d/%m/%Y a las %H:%M") %>
                                    </td>
                            </tr>

                            <!--Respuesta solo si existe-->
                                <% if pregunta.respuesta? %>
                                  <tr class="danger" >
                                       <td>
                                          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                                      <%= pregunta.respuesta%>
                                       </td>
                                       <td>
                                          <%= pregunta.fecha_respuesta.strftime("%d/%m/%Y a las %H:%M") %>
                                      </td>
                                   </tr>
                                <%end%>  
                             <% end %> 
                          


                <tbody>
                </tbody>
                <!--Aca va el cuadro de texto para hacer una pregunta-->
                </table> 

                    <div class="row">

               
                        <div class="col-lg-8">
                          <!-- creamos el formulario de preguntar -->
                          <%= form_for :pregunta, url: preguntas_path do |p|%>
                            <form role="form">
                               <div class="form-group">
                                   <div class="input-group">
                                        <%= p.hidden_field :producto_id, value:  @producto.id %>
                                        <% if user_signed_in? %>
                                            <%= p.hidden_field :usuario_id, value: current_user.id %>
                                        <%end%>
                                        <%= p.text_field :pregunta, class: "form-control", placeholder: "Escriba aqui su pregunta. No ingrese datos personales, ni use lenguaje vulgar..." %>
                                      <span class="input-group-btn">
                                            <%= p.submit "Preguntar!", class: "btn btn-danger"%>
                                      </span>
                                    </div><!-- /input-group -->
                                </div>
                            </form>
                            <%end%> <!-- / formulario -->
                        </div><!-- /.col-lg-8 -->
                     
                    </div><!-- /.row -->
               
                </div><!-- /pestaña de preguntas -->




                    <!--Aca comienzan la pestaña de las ofertas -->
                        <div class="tab-pane" id="panel-361720">
                        <table class="table">
                            <p>
                                <thead>
                                <tr>
                                    <th>
                                        Ofertas
                                    </th>
                                <th>
                                        Fecha
                                    </th>
                                </tr>
                                </thead>
                
                                <% @producto.ofertas.each  do |oferta| %> 
                                <!--necesidad-->
                                    <tr>
                                        <td>
                                            <%= oferta.necesidad %>
                                        </td>
                                        <td>
                                            <%= oferta.created_at.strftime("%d/%m/%Y a las %H:%M") %>
                                        </td>
                                    </tr>
                                <%end%>
                        </p>
                       </table> 
                       </div><!-- finaliza el pestaña de ofertas-->
                </div>

             </div>
        </div>
    </div>
</div>















<!-- MODAL PARA CARGAR UNA OFERTA-->
<div class="modal fade" id="modal-container-257635" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      	<%= render  "/ofertas/ofertar", producto_id: @producto.id %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
