<div class="container">
	<div class="row clearfix">
		<!--Esta es la barra de navegacion de categorias-->
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					<a href="/">Home</a> 
					<span class="divider"></span>
				</li>
				<li>
					<%=link_to Categoria.find(@producto.categoria_id).nombre, productos_path(categoria: @producto.categoria_id) %>
					
					<span class="divider"></span>
				</li>
				<li class="active">
					<%=@producto.nombre%>
				</li>
			</ul>
		</div>
	</div>
	<!--aca comienza la publicacion en si misma-->
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h2 class="text-left">
				<%=@producto.nombre%>
			</h2>
			<div class="thumbnail">
				<%= image_tag( @producto.foto, size: '500', class: "img-rounded") %>
			</div>
		</div>

		<div class="col-md-6 ">
			<h2 class="text-left">
				Descripcion:
			    </h2>
			    <h4>
				   
				       
			    </h4>
			    <h4>
				<%=@producto.descripcion%>
			    </h4>
			    <h4>
				        
			    </h4>
			    <div class="row clearfix">
					<div class="col-md-4">

						<%= link_to button_to("Ofertar", productos_path  , 
						:class => "btn btn-lg btn-success"), @producto%>
					</div>
				<div class="col-md-8 ">
					<h4 class="text-left">
						<%= @producto.fecha_finalizacion.strftime("Finaliza el %d/%m/%Y a las %H:%M")  %>

					</h4>
				</div>
			</div>
      </div>
    </div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				Preguntas
			</h3>
			<!-- se crea una tabla con las preguntas y las respuestas-->
			<table class="table">
				<!--Aca van los nombres de las columnas-->
				<thead>
					<tr>
						<th>
							Preguntas y Respuestas
						</th>
						<th>
							fecha
						</th>
					</tr>
				</thead>
				<!--Aca comienzan las preguntas y respuestas-->
				<tbody>
					<% @producto.preguntas.each  do |pregunta| %> 
					<!--Pregunta-->
					<tr>
						<td>
							<%= pregunta.pregunta %>
						</td>
						<td>
							<%= pregunta.created_at.strftime("%d/%m/%Y a las %H:%M") %>
						</td>
					</tr>

					<!--Respuesta-->
					<tr class="danger" >
						<td>
							<%= pregunta.respuesta%>
						</td>
						<td class="text-right">
							
						</td>
					</tr>  
				<% end %> 
				</tbody>
			</table> <button type="button" class="btn btn-lg btn-danger">Preguntar</button>
		</div>
	</div>


