<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="row clearfix">

        <!-- LOGO -->
        <div class="navbar-header col-md-2 align-right" >
          <a href="/"><img src="http://i.imgur.com/2G1RSzL.jpg" title="Bestnid-Logo" class="img-rounded" align="right"/></a>
        </div>

        <!-- BARRA DE BUSQUEDA -->
        <!-- When submit the form, the view rendered will be the index view of our articles resource -->
        <%= form_tag(productos_path, :method => "get", class: "navbar-form", id: "search-form") do %>
        <div class="navbar-header col-md-5" >
          <div class = "input-group col-md-12">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Busqueda" %>
            <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
              of using a Rails form helper -->
          <span class="input-group-btn"><button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-search"></span> </button>
          </div>
        </div>
        <% end %>


        <% if user_signed_in? %>  <!-- Header si el usuario inicio sesion -->
          
            <div class="col-md-2 column">
            

            <div class="btn">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">

              <div class="navbar-header col-md-0">
            
              <img alt="35x35" src="http://lorempixel.com/35/35/" class="img-circle"/ >
                        
              </div>
              
              <%= current_user.nombre %> <span class="caret"></span>

            </button> 
            
            <ul class="dropdown-menu">
              <li>
                <%= link_to('Ver perfil', edit_user_registration_path) %>
              </li>
              <li class="disabled">
                <a href="#"><%= link_to('Editar perfil', edit_user_registration_path) %></a>
              </li>
              <li>
                <%= link_to('Vender', new_producto_path) %>
              </li>
              <li class="divider">
              </li>
              <li>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
            </ul>
          </div>
          </div> <!-- Fin del row -->


        <% else %>  <!-- Header si el usuario no inicio sesion -->


            <div class="navbar-header col-md-5">
              <!-- Small modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm">Ingresar</button>

              <!-- Large modal -->
                <button type="button" class="btn btn-danger " data-toggle="modal" data-target=".bs-example-modal-lg">Registrar</button>
              
            </div> <!-- Fin del row -->
      
        <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal Login -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <%= render 'users/sessions/login' %>

    </div>
  </div>
</div>

<!-- Modal Registrarse -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <%= render 'users/registrations/registrar' %>

    </div>
  </div>
</div>
</div>
