<!DOCTYPE html>
<html lang="es-ES">
<head>
  <title>Bestnid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id = "header">

<%= render 'layouts/header' %>

<!-- con este flash, podemos enviar :notice, :error, :success, :warning y se almacena en key
  y en value se almacena lo que le hayamos puesto, en el que borré solo preguntaba si habia flash:notice,
-->

<div class="container">
<% flash.each do |key, value| %>
    <div class="alert alert-danger alert-dismissable  fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>
  <%= yield %>
</div>


<footer id = "footer">
<nav class= "navbar navbar-default navbar-fixed-bottom" role= "navigation">
  <div class="container">
  	<%= link_to 'acerca de','/acerca'%>
  	<%= link_to 'contacto','/contacto'%>
  </div>
</nav>
</footer>

<!--
<script src="//railsgirls.com/assets/bootstrap.js" />
-->



</body>

</html>
