<!DOCTYPE html>
<html>
<head>
  <title>Bestnid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id = "header">

<%= render 'layouts/header' %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>
<%= link_to 'Login', new_user_session_path %>
<div class="container"> 
	<% if flash[:notice] %>
		<div class ="alert alert-danger">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<%= yield %>
</div>
<footer id = "footer">
<nav class= "navbar navbar-default navbar-fixed-bottom" role= "navigation">
  <div class="container">
  	<%= link_to 'acerca de','/acerca'%>
  	<%= link_to 'contacto','/contacto'%>
  </div>
</nav>
</footer>

<!--
<script src="//railsgirls.com/assets/bootstrap.js" />
-->



</body>

</html>
