<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="navbar modal-header bg-danger">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Registrarse</h4>
  </div>
 
  <div class="modal-body ">
    <!-- EMAIL -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Ejemplo@mail.com" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Asegurese de ingresar una casilla de correo valida, se le enviara un email de confimacion de cuenta</i></span>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <!-- PASSWORD -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Minimo 8 caracteres</i></span>
      </div>
    </div>

    <!-- PASSWORD CONFIRMACION -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmacion" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Vuelva a escribir la contraseña</i></span>
      </div>
    </div>

    <!-- NOMBRE -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :nombre %><br />
        <%= f.text_field :nombre, autofocus: true, class: "form-control", placeholder: "Carlos" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Ingrese de 2 a 25 caracteres</i></span>
      </div>
    </div>

    <!-- APELLIDO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :apellido %><br />
        <%= f.text_field :apellido, autofocus: true, class: "form-control", placeholder: "Gardel" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Ingrese de 2 a 25 caracteres</i></span>
      </div>
    </div>

    <!-- TELEFONO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :telefono %><br />
        <%= f.text_field :telefono, class: "form-control", placeholder: "Telefono" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Solo numeros</i></span>
      </div>
    </div>

    <!-- FOTO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :foto %><br />
        <%= f.text_field :foto, class: "form-control", placeholder: "Link" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Para cargar la foto ingrese <a href="http://imgur.com/">AQUI</a>, luego compie el link en el campo. En el caso de no conocer como cargar la imagen realice el <a href="https://www.youtube.com/watch?v=K7XVlFYLqX8">TUTORIAL</a></i></span>
      </div>
    </div>

      <!-- EDAD -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :edad %><br />
        <%= f.text_field :edad, class: "form-control", placeholder: "Edad" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Hay que ser mayor de 18</i></span>
      </div>
    </div>

      <!-- DOMICILIO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :domicilio %><br />
        <%= f.text_field :domicilio, class: "form-control", placeholder: "Domicilio" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Calle Altura Localidad Derpartamento</i></span>
      </div>
    </div>

      <!-- NUMERO DE TARJETA -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :numero_tarjeta %><br />
        <%= f.text_field :numero_tarjeta, class: "form-control", placeholder: "Numero de Tarjeta" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>XXXX-XXXX-XXXX-XXXX</i></span>
      </div>
    </div>

      <!-- TITULAR TARJETA -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :titular_tarjeta %><br />
        <%= f.text_field :titular_tarjeta, class: "form-control", placeholder: "Titular" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>Carlos Raul Gardel</i></span>
      </div>
    </div>

      <!-- VENCIMIENTO -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :vencimiento_tarjeta %><br />
        <%= f.text_field :vencimiento_tarjeta, class: "form-control", placeholder: "Vencimiento" %>
      </div>

      <br />      
      <div class="form-group col-md-8">
          <span id="helpBlock" class="help-block"><i>dd/mm/aaaa</i></span>
      </div>
    </div>
    
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit "Registrarse", class: "btn btn-danger" %>
  </div>

<% end %>