<link rel="stylesheet" type="text/css" href="../css/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">

<div class="container">
  <div class="row clearfix">
                      <!-- lista de elementos como ventas y amigos -->
                      <div class="col-md-2 column">
                        <ul><h3>
                          <li><%=link_to "Inicio", productos_path %></li>
                          <li><%=link_to "Editar Perfil", productos_path %></li>
                          <li><%=link_to "Compras", productos_path %></li>
                          <li><%=link_to "Ventas", productos_path %></li>
                          <li><%=link_to "Preguntas Realizadas", productos_path %></li>
                          <li><%=link_to "Preguntas sin resolver", productos_path %></li>
                          <li><%=link_to "Amigos", productos_path %></li>
                          <li><%=link_to "Enemigos", productos_path %></li></h3>
                        </ul>
                      </div>
                      <!--fin de lista de elemento-->

   
    <div class="col-md-10 column">
      <div class="row clearfix">
         <!-- imagen -->
        <div class="col-md-4 column">
          <%= image_tag( current_user.foto, size: '300', class: "img-rounded") %>
        </div>
        <!--lista con campos para modificar y nombre-->
        <div class="col-md-8 column">
              <div class="row clearfix">
                      <!-- muestra el nombre en grande -->
                      <div class="col-md-12 column">
                        <h2 class="text-center">
                          <%= current_user.nombre + " " + @current_user.apellido %>
                        </h2>
                      </div>
                      <!--fin del nombre -->
              </div>
          <!-- lista de campos a modificar -->
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="panel panel-danger">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4>Perfil</h4></div>

                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item"><%= "Email :" + current_user.email%></li>
                  <li class="list-group-item"><%= "Telefono:" + current_user.telefono%></li>
                  <li class="list-group-item"><%= "Fecha de nacimiento :" + current_user.fecha_nacimiento.to_s%></li>
                  <li class="list-group-item"><%= "Cuenta creada :" + current_user.created_at.to_date.to_s%></li>
                  <li class="list-group-item alert-danger">
                    <div class="row">
                    <div class="col-md-4 column pull-right">
                    <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Se borrara toda su informacion, publicaciones, preguntas y ofertas. Estas seguro?" }, method: :delete %>
                  </div>
                </div>
                </li>
                </ul>
              </div>
            </div>
          </div><!--fin de lista-->
        </div>
      </div>
      <!-- tabs para ofertas y preguntas -->
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="tabbable" id="tabs-569375">
            <ul class="nav nav-tabs">
              <% if !current_user.admin %>
               
                <li class="active">
                  <a href="#panel-87367" data-toggle="tab">Preguntas 
                    <span class="badge">
                    <% a = 0
                       @current_user.productos.each do |producto| %>
                        <%a = a + producto.preguntas.no_contestadas.count %>
                    <%end%>
                    <%= a %>
                    </span></a>
                </li>
               
                <li>
                  <a href="#panel-425311" data-toggle="tab">Historial de mis subastas
                    <% a = 0
                       @current_user.productos.each do |producto| %>
                            <% if (producto.comprador_id == nil) and (producto.finalizado)  %>
                                   <%a = a + 1 %>
                            <%end%>
                       <%end%>
                       <% if (a != 0)  %>
                        <span class="badge">
                                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </span>
                        <%end%>
                        </a>
                </li>
              

              <!--ACA VA UN ELSE PARA OCULTAR LAS PESTAÑAS DEL ADMIN -->
                <li>
                  <a href="#panel-425300" data-toggle="tab">Estadistica de ventas</a>
                </li>
             

                <li>
                  <a href="#panel-425350" data-toggle="tab">Estadistica de usuarios</a>
                </li>

              <% end %>
            </ul>



            <div class="tab-content">

              <!--PANEL de preguntas -->
              <div class="tab-pane active" id="panel-87367">
                <p>
                <div class="row clearfix">
                    <% @current_user.productos.each do |producto| %>
                        <% if producto.preguntas.no_contestadas.count > 0 %>
                            <%= render  "/productos/listar", producto: producto %>
                        <%end%>
                    <%end%>
                  </div>
                </p>
            </div> <!--fin panel de preguntas -->






              <!-- PANEL DE OFERTAS -->  
              <div class="tab-pane" id="panel-425311">
                 <p>
                 <div class="row clearfix">
                  
                        <% @current_user.productos.each do |producto| %>
                            <%= render  "/productos/listarventas", producto: producto %>
                        
                        <%end%>
                 </div>
                 </p>
               </div><!--fin panel de fechas -->
 


            

            <!-- PANEL DE ESTADISTICA DE VENTAS --> 
              <div class="tab-pane" id="panel-425300">
                <div class="container">
                    <div class="row clearfix">
                    <%= form_tag (estadisticas_productos_path) do %>
                    </br>
                        <div class ="col-md-3 column">
                              <div class="form-group">
                              

                                <!-- Campo calendario inicio --> 
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                      <%= date_field_tag :inicio, params[:inicio], type: 'date', class: "form-control" %>
                                  </div>
                              </div>

                              <!-- Campo calendario fin -->
                              <div class="form-group">
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                     <%= date_field_tag :fin, params[:fin], type: 'date', class: "form-control" %>
                                  </div>
                              </div>

                        </div><!--final de columna 3-->
                        <div class ="col-md-2 column">
                        </br>

                          <%= submit_tag "Consultar", class: "btn btn-danger"%>
                        
                        </div>
                    </div><!--final de row-->
                    <% end %>
                  </div><!--final de container-->
              </div><!--final del panel de estadisticas de ventas-->




              <!-- PANEL DE ESTADISTICA DE USUARIOS -->
              <div class="tab-pane" id="panel-425350">
                <div class="container">
                    <div class="row clearfix">
                    <%= form_tag (estadisticas_usuarios_path) do %>
                    </br>
                        <div class ="col-md-3 column">
                              <div class="form-group">
                              

                                <!-- Campo calendario inicio --> 
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                      <%= date_field_tag :inicio, params[:inicio], type: 'date', class: "form-control" %>
                                  </div>
                              </div>

                              <!-- Campo calendario fin -->
                              <div class="form-group">
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                     <%= date_field_tag :fin, params[:fin], type: 'date', class: "form-control" %>
                                  </div>
                              </div>

                        </div><!--final de columna 3-->
                        <div class ="col-md-2 column">
                        </br>

                          <%= submit_tag "Consultar", class: "btn btn-danger"%>
                        
                        </div>
                    </div><!--final de row-->
                    <% end %>
                  </div><!--final de container-->
              </div><!--final del panel de estadisticas de usuario-->


        </div><!--fin del contenido de los paneles -->
      </div>
    </div>
  </div>
</div>
</div>
</div>