<link rel="stylesheet" type="text/css" href="../css/datepicker.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.css">

<div class="container">
  <div class="row clearfix">
                      <!-- lista de elementos como ventas y amigos -->
                      <div class="col-md-2 column">
                        <ul><h3>
                          <li><%=link_to "Inicio", productos_path %></li>
                          <li><%=link_to "Editar Perfil", productos_path %></li>
                          <li><%=link_to "Compras", productos_path %></li>
                          <li><%=link_to "Ventas", productos_path %></li>
                          <li><%=link_to "Preguntas Realizadas", productos_path %></li>
                          <li><%=link_to "Preguntas sin resolver", productos_path %></li>
                          <li><%=link_to "Amigos", productos_path %></li>
                          <li><%=link_to "Enemigos", productos_path %></li></h3>
                        </ul>
                      </div>
                      <!--fin de lista de elemento-->

   
    <div class="col-md-10 column">
      <div class="row clearfix">
         <!-- imagen -->
        <div class="col-md-4 column">
          <%= image_tag( current_user.foto, size: '300', class: "img-rounded") %>
        </div>
        <!--lista con campos para modificar y nombre-->
        <div class="col-md-8 column">
              <div class="row clearfix">
                      <!-- muestra el nombre en grande -->
                      <div class="col-md-12 column">
                        <h2 class="text-center">
                          <%= current_user.nombre + " " + @current_user.apellido %>
                        </h2>
                      </div>
                      <!--fin del nombre -->
              </div>
          <!-- lista de campos a modificar -->
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="panel panel-danger">
                <!-- Default panel contents -->
                <div class="panel-heading"><h4>Perfil</h4></div>

                <!-- List group -->
                <ul class="list-group">
                  <li class="list-group-item"><%= "Email :" + current_user.email%></li>
                  <li class="list-group-item"><%= "Telefono:" + current_user.telefono%></li>
                  <li class="list-group-item"><%= "Fecha de nacimiento :" + current_user.fecha_nacimiento.to_s%></li>
                  <li class="list-group-item"><%= "Cuenta creada :" + current_user.created_at.to_date.to_s%></li>
                  <li class="list-group-item alert-danger">
                    <div class="row">
                    <div class="col-md-4 column pull-right">
                    <%= button_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Se borrara toda su informacion, publicaciones, preguntas y ofertas. Estas seguro?" }, method: :delete %>
                  </div>
                </div>
                </li>
                </ul>
              </div>
            </div>
          </div><!--fin de lista-->
        </div>
      </div>
      <!-- tabs para ofertas y preguntas -->
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="tabbable" id="tabs-569375">
            <ul class="nav nav-tabs">
              <% if !current_user.admin %>
               
                <li class="active">
                  <a href="#panel-87367" data-toggle="tab">Preguntas 
                    <span class="badge">
                    <% a = 0
                       @current_user.productos.each do |producto| %>
                        <%a = a + producto.preguntas.no_contestadas.count %>
                    <%end%>
                    <%= a %>
                    </span></a>
                </li>
               
                <li>
                  <a href="#panel-425311" data-toggle="tab">Historial de mis subastas
                    <% a = 0
                       @current_user.productos.each do |producto| %>
                            <% if (producto.comprador_id == nil) and (producto.finalizado)  %>
                                   <%a = a + 1 %>
                            <%end%>
                       <%end%>
                       <% if (a != 0)  %>
                        <span class="badge">
                                 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        </span>
                        <%end%>
                        </a>
                </li>
              

              <!--ACA VA UN ELSE PARA OCULTAR LAS PESTAÑAS DEL ADMIN -->
                <li>
                  <a href="#panel-425300" data-toggle="tab">Estadistica de ventas</a>
                </li>
             

                <li>
                  <a href="#panel-425350" data-toggle="tab">Estadistica de usuarios</a>
                </li>


              <!--Pestaña para probar FILTRADO -->
               <li>
                  <a href="#panel-425518" data-toggle="tab">PRUEBA FILTRO</a>
                </li>
              <% end %>
            </ul>



            <div class="tab-content">

              <!--PANEL de preguntas -->
              <div class="tab-pane active" id="panel-87367">
                <p>
                <div class="row clearfix">
                    <% @current_user.productos.each do |producto| %>
                        <% if producto.preguntas.no_contestadas.count > 0 %>
                            <%= render  "/productos/listar", producto: producto %>
                        <%end%>
                    <%end%>
                  </div>
                </p>
            </div> <!--fin panel de preguntas -->






              <!-- PANEL DE OFERTAS -->  
              <div class="tab-pane" id="panel-425311">
                 <p>
                 <div class="row clearfix">
                  
                        <% @current_user.productos.each do |producto| %>
                            <%= render  "/productos/listarventas", producto: producto %>
                        
                        <%end%>
                 </div>
                 </p>
               </div><!--fin panel de fechas -->
 


            

            <!-- PANEL DE ESTADISTICA DE VENTAS --> 
              <div class="tab-pane" id="panel-425300">
                <div class="container">
                    <div class="row clearfix">
                      <%= form_for :producto, url: productos_path do |p|%>
                    </br>
                        <div class ="col-md-3 column">
                              <div class="form-group">
                              

                                <!-- Campo calendario inicio --> 
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                      <%= p.text_field :inicio, 'data-behaviour' => 'datepicker', class: "form-control", placeholder:"Ingrese la fecha de inicio" %>
                                  </div>
                              </div>

                              <!-- Campo calendario fin -->
                              <div class="form-group">
                                  <div class='input-group date' data-behaviour= 'datepicker'>
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                     <%= p.text_field :inicio, 'data-behaviour' => 'datepicker', class: "form-control", placeholder:"Ingrese la fecha de finalizacion" %>
                                  </div>
                              </div>

                              <!--Script que abre el datePicker-->
                                          <script type="text/javascript">
                                              $(function () {
                                                  $('[data-behaviour~=datepicker]').datepicker({
                                                    format: 'dd-mm-yyyy', 
                                                    autoclose: true,
                                                    language: 'es'
                                                  });
                                              });
                                          </script>
                              <!--fin del datepikcer-->

                        </div><!--final de columna 3-->
                        <div class ="col-md-2 column">
                        </br>

                        <!--Aca hay dos botones uno es un link_to, un enlace a ... que puede llevar parametros de inicio y de fin, entonces podria redigir a una pagina para levantar esos parametros y mostrarlos, el problema es que esa pagina 'extra' no se como hacerla. podria hacer que se muestre en la pagina de edit del devise, pero no se como tratar con el controlador para que lo haga-->

                        <!-- con el otro boton hace un submit de un formulario, el formulario es metodo POST, y se usa para crear cosas nuevas o modificarlas CREATE o UPDATE, no creo que sea conveniente... practicamente estamos en lo mismo de hoy, falta asociar el valor del campo con la variable-->

                        <!-- yo buscaria la manera de hacerlo por el lado del link_to enviandole los dos parametros a algun metodo de productos, por ejemplo index o alguno nuevo inventado y ese devuelve la lista yo deje algo en el controlador se llama def ver ...-->

                        <!--no segui mas porque me quedé sin internet y no pude investigar más-->
                        <!-- aca puede ser que al final haya algo mas 
                        http://stackoverflow.com/questions/12928918/how-to-setup-bootstrap-datepicker-rails -->
                        <%= link_to button_to( "Consultrr", productos_path(inicio: Date.today- 4.month, fin: Date.today)  , :class => "btn btn-danger"),productos_path%>
                          <%= p.submit "Consultar", class: "btn btn-danger"%>
                        </div>
                    </div><!--final de row-->
                    <%end%><!--fin del formulario-->
                  </div><!--final de container-->
              </div><!--final del panel de estadisticas de ventas-->




              <!-- PANEL DE ESTADISTICA DE USUARIOS -->
              <div class="tab-pane" id="panel-425350">
                <p>


                    <% inicio = User.find(1).created_at %>
                    <% fin = User.find(3).created_at %>
                    <% aux1 = User.where(:created_at => inicio.beginning_of_day..fin.end_of_day) %>

<!--                     -------------------------------------------------------------------------------- -->

                  <% total = 0 %>
                    <table style="width:1000px; height:100px;">
                      <tr>
                        <th> Nombre </th>
                        <th> cuenta </th>
                        <th> Fecha de registro </th>    
                      </tr>
                      <% aux1.all.each do |aux| %>
                        <tr>
                          <td> <%= aux.nombre %> </td>
                          <td> <%= aux.email %> </td>
                          <td> <%= aux.created_at %> </td>
                          <% total = total + 1 %>
                        </tr>
                      <% end %>
                    </table>

                    <p> Cantidad de usuarios registrados entre esas fechas: <%= total %> </p>

                </p>
              </div><!--final del panel de estadisticas de usuario-->


              <!-- PANEL DE PRUEBA DE FILTRADO -->
              <div class="tab-pane" id="panel-425518">
                <p>


<!--                   Filtrado de productos comprados por fechas -->
                  <!--  ---------------------------------------------------------------------------------->

                    <% inicio = Producto.find(1).created_at %>
                    <% fin = Producto.find(3).created_at %>

                    <% aux1 = Producto.where(:created_at => inicio.beginning_of_day..fin.end_of_day) %>

                    <% aux2 = aux1.where(:finalizado => false) %>

                    <% aux3 = aux2.where(:comprador_id => nil) %>

                  <!--  -------------------------------------------------------------------------------- -->

                    <% total = 0 %>
                    <table style="width:1000px; height:100px;">
                      <tr>
                        <th> Producto </th>
                        <th> Comprador </th>
                        <th> Monto </th>
                        <th> Fecha de compra </th>                      
                      </tr>
                      <% aux3.all.each do |aux| %>
                        <tr>
                          <td> <%= aux.nombre %> </td>
                          <td> <%= User.find(aux.user_id).nombre %> </td>
                          <td> <%= 100 %> </td>                          
                          <td> <%= aux.updated_at %> </td>
                          <% total = total + 100 %>
                        </tr>                      
                      <% end %>
                    </table>
                    <% total = total*30/100 %>
                    <p> Total = <%= total %> </p>                  
                </p>
              </div><!--final del panel de prueba de fltrado-->


        </div><!--fin del contenido de los paneles -->
      </div>
    </div>
  </div>
</div>
</div>
</div>

